{% extends 'base.html.twig' %}

{% block title %}La Chaussette Perdue
{% endblock %}

{% block body %}
	<img class="img-fluid banner" src="/images/banner.jpg" alt="banniere">


	<h1 id="h1">Camping de la Chaussette Perdue</h1>
{% endblock %}
