{% extends 'base.html.twig' %}


{% block body %}
	<h1>Ajouter une location</h1>

	{{ include('rent/_form.html.twig') }}

	<a class="btn btn-info m-2" href="{{ path('app_rent_index') }}">Retour à la liste</a>
{% endblock %}
